/*******************************************************************
*   I N P U T S
*******************************************************************/

label:not([for="wp-comment-cookies-consent"]) {
    font-size: var(--wp--preset--font-size--small);
    font-weight: 400 !important;
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]):not(.wp-block-search__input),
textarea,
select {
    &:hover {}

    &:focus {}

    &:focus-visible {}

    &::placeholder {}
}

select {}

textarea {}

/*******************************************************************
*   B U T T O N S
*******************************************************************/

.btn,
#submit,
.wpcf7-submit {
    &:has(svg) {
        & svg {}
    }

    &:hover {}

    &:focus {}

    &:focus-visible {}

    &.primary {}

    &.secondary {}

    &.outline {}

    &.small {}

    &.large {}

    &.inactive {
        &:hover {}
    }
}

.wp-block-search__input {
    background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--contrast));
    &:hover {
        border-color: var(--wp--preset--color--btn-lnk);
        box-shadow: 0 0 0 .2rem var(--wp--preset--color--btn-lnk-alpha-25);
    }

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 1px var(--wp--preset--color--btn-lnk),
                    0 0 0 .2rem var(--wp--preset--color--btn-lnk-alpha-50);
    }
}

.wp-element-button {
    transition: all .3s ease;
    font-size: var(--wp--preset--font-size--small);
}

/*******************************************************************
*   C H E C K B O X
*******************************************************************/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {}

[type="checkbox"]:checked + label:after {}

/* Disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {}

[type="checkbox"]:disabled:checked + label:after {}

[type="checkbox"]:disabled + label {}

/* Accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {}

/*******************************************************************
*   O T H E R S
*******************************************************************/

::-webkit-search-cancel-button {
    display: none;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
    box-shadow: 0 0 0px 1000px light-dark(var(--wp--preset--color--base), var(--wp--preset--color--contrast)) inset, 
                0 0 0 1px var(--wp--preset--color--btn-lnk),
                0 0 0 .2rem var(--wp--preset--color--btn-lnk-alpha-50);
    -webkit-text-fill-color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));  
    border-color: var(--wp--preset--color--btn-lnk);
    transition: border-color .3s ease-in-out;
}

/*******************************************************************
*   C H R O M I U M   B A S E D
*******************************************************************/

body.is-chromium {
    & .wp-block-search__input {
        border-radius: 1rem;
        corner-shape: squircle;
    }

    & .wp-element-button {
        border-radius: 1rem;
        corner-shape: squircle;
    }
}