@media (width >= 1024px) {
    .site-main {
        & .type-page:has(.block .content .sidebar) {
            & .block {
                & .content {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    gap: 50px;

                    & .entry-header {
                        grid-column: 1 / 3;
                        grid-row: 1 / 2;
                    }

                    & .entry-content {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    & .sidebar {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                    }
                }
            }
        }
    }
}