header.block {
    background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
    & .content {
        text-align: center;
        padding: 50px 0;
    }
}

.block {
    & .content:has(.entry-content) {
        padding: 50px 0;
    }
}