body {
    min-height: 100dvh;
    background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--contrast));
    color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));
}

.block:has(.content) {
    & .content {
        width: var(--max-width--content);
        margin-inline: auto;
    }
}

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
}

.post {
    &:hover {}

    & .post-body__header {}

    & .post-body__content {}

    & .post-body__footer {}
}

.tag {
    &:hover {}

    &:focus {}

    &:focus-visible {}

    &:active {}

    & svg {}

    &.small {
        & svg {}
    }
}

.social {
    & .menu {
        & li {
            & a {
                &:hover {}

                &:focus {}
                
                &:focus-visible {}

                &:active {}
                
                &::before {}
            }
        }
    }
}

.btn-pagination {
    &:hover {}

    &:focus {}

    &:focus-visible {}

    & svg {}

    &.small {
        & svg {}
    }
}