body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    background-color: light-dark(var(--wp--preset--color--base), var(--wp--preset--color--contrast));
    color: light-dark(var(--wp--preset--color--contrast), var(--wp--preset--color--base));

}

.block:has(.content) {
    & .content {
        width: var(--max-width--content);
        margin-inline: auto;
    }
}

*,
::before,
::after {
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    height: auto;
}

.post {
    &:hover {}

    & .post-body__header {}

    & .post-body__content {}

    & .post-body__footer {}
}

.tag {
    padding: 0 1rem;
    border: 1px solid var(--wp--preset--color--accent-6);
    display: inline-flex;
    gap: .5rem;
    align-items: center;
    border-radius: .5rem;
    transition: border-color .3s ease, box-shadow .3s ease, transform .15s ease;

    &:hover {
        border-color: var(--wp--preset--color--btn-lnk);
        box-shadow: 0 0 0 .2rem var(--wp--preset--color--btn-lnk-alpha-25);
    }

    &:focus {}

    &:focus-visible {}

    &:active {
        transform: translateY(1px);
        box-shadow: 0 0 0 1px var(--wp--preset--color--btn-lnk),
                    0 0 0 .2rem var(--wp--preset--color--btn-lnk-alpha-50);
    }

    & svg {}

    &.small {
        & svg {}
    }
}

.social {
    & .menu {
        & li {
            & a {
                &:hover {}

                &:focus {}
                
                &:focus-visible {}

                &:active {}
                
                &::before {}
            }
        }
    }
}

.btn-pagination {
    &:hover {}

    &:focus {}

    &:focus-visible {}

    & svg {}

    &.small {
        & svg {}
    }
}

body.is-chromium {
    & .tag {
        border-radius: 1rem;
        corner-shape: squircle;
    }
}