.site-main {
    & :is(.type-page,.type-post):has(.block .content .sidebar) {
        & .block {
            & .content:has(aside) {
                display: grid;
                gap: 50px;

                & .sidebar {
                    & > *:not(:last-child) {
                        margin-bottom: 50px;
                    }

                    & form[role=search] {
                        padding-left: 1rem;
                    }

                    & .wp-block-heading {
                        padding-left: 1rem;
                    }

                    & ul {
                        padding-left: 0;
                        list-style: none;

                        & li {
                            transition: opacity .3s ease .3s;

                            & a:has(svg) {
                                display: flex;
                                align-items: center;
                                gap: .5rem;
                                height: 41.33px;
                                padding: 0 1rem;
                                border-radius: 0.375rem;
                                transition: background-color .3s ease;

                                &:hover {
                                    background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
                                }
                            }

                            & .latest-post__body {
                                display: grid;
                                grid-template-columns: auto 1fr;
                                grid-template-rows: 1fr auto;
                                gap: 0 .5rem;
                                padding: 1rem;
                                border-radius: 1rem;
                                transition: background-color .3s ease;

                                & .latest-post-thumbnail-wrapper {
                                    grid-column: 1 / 2;
                                    grid-row: 1 / 3;

                                    & .wp-post-image {
                                        width:70px;
                                        height:70px;
                                        border-radius: .5rem;
                                    }
                                }

                                & .wp-block-latest-posts__post-title {
                                    align-self: end;
                                    font-weight: 500;
                                }

                                & .latest-post-date {
                                    font-size: var(--wp--preset--font-size--small);
                                }

                                &:hover {
                                    background-color: light-dark(var(--wp--preset--color--secondary), var(--secondary-dark));
                                }
                            }
                        }

                        &:hover {
                            & > li:not(:hover) {
                                opacity: .25;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width >= 1024px) {
    .site-main {
        & :is(.type-page,.type-post):has(.block .content .sidebar) {
            & .block {
                & .content:has(aside) {
                    grid-template-columns: 1fr auto;
                }
            }
        }
    }
}

body.is-chromium {
    .site-main {
    & :is(.type-page, .type-post):has(.block .content .sidebar) {
        & .block {
            & .content:has(aside) {
                & .sidebar {
                    & ul {
                        & li {
                            & a:has(svg) {
                                border-radius: 1rem;
                                corner-shape: squircle;
                            }
                            
                            & .latest-post__body {
                                border-radius: 2rem;
                                corner-shape: squircle;

                                & .latest-post-thumbnail-wrapper {
                                    & .wp-post-image {
                                        border-radius: 1rem;
                                        corner-shape: squircle;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
}